/* submit Review */
#flexnameandthumbs
{display: flex;}

/* Placedescription.js  */
#Reviewsgridbox
{
    display: flex;
    justify-content: space-around;
}
#review1
{margin-right: 40px;}
#review2
#review2
#review4

/* Code for Thumbsup.js */
#likegrow{
    width: 60px;
    margin-right: 10px;
}
#dislikegrow{
    width: 50px;
}
#rating {
    display: flex;
    width: 100%;
    margin-top: 40px;
    padding-top: 40px;
    text-align: center;
    
    
  }
  
  #like,
  .dislike {
    display: inline-block;
    cursor: pointer;
    margin: 10px;
  }
  
  #dislike:hover,
  .like:hover {
    color: #2EBDD1;
    transition: all .2s ease-in-out;
    transform: scale(1.1);
  }
  
  .active {
    color: #2EBDD1;
  }