/* submit Review */
#flexnameandthumbs
{display: flex;
  background-color: aquamarine;
  
}

#UserNamett
{height: 30px;
font-size: 20px;
margin-right: 100px;}
#UserReviewtt
{
  height: 30px;
  font-size: 20px;;
} 

h1{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#reviewbox
{padding-left: 200px;
}

/* Placedescription.js  */
#Reviewsgridbox
{
    display: flex;
    justify-content: space-around;
}
#review1
{margin-right: 40px;}
#review2
#review2
#review4

/* Code for Thumbsup.js */
#Uptt{
  color: blue;
}
#likegrow{
    font-size: 40px;
    
}
#dislikegrow{
    width: 50px;
}
#rating {
    display: flex;
    width: 100%;
    text-align: center;
    
    
  }
  
  #like,
  .dislike {
    display: inline-block;
    cursor: pointer;
    margin: 10px;
  }
  
  #dislike:hover,
  .like:hover {
    color: #2EBDD1;
    transition: all .2s ease-in-out;
    transform: scale(1.1);
  }
  
  .active {
    color: #2EBDD1;
  }